#container {
  background-color: black;
  height: 600px;
  width: 600px;

}

.unit {
  background-color: gray;
  height: 12px;
  width: 12px;

  float: left;
}

.hovered {
  background-color: black
}

button {
  margin: 10px;
}

button:hover {
  background-color: blue;
}
